@import url("../css/_customizable-cta.css");

.director-container {clear: both; width: 100%; padding: 80px 0;}
.director-main {clear: both; width: 100%; position: relative; justify-content: space-between;}
.director-main:before {content: ""; background:var(--white); position: absolute; left: -1000%; width: 1000%; height: 100%; display: block;}
.director-lt{clear: both; position: relative; padding:65px 80px 104px 0; overflow: hidden; width: calc(100% - 39%);}
.director-lt:after {content: ''; position: absolute; width: 1100%; height: 1100%; top: 0; right:-485.5%;
background:var(--white); transform-origin: 54% 0; transform: rotate(45deg); z-index: -1;}
.director-lt h1 {font-size: 3rem; color: var(--clc-dark-txt); margin: 0 0 7px 0;}
.director-lt h1 span {font-size: 1.5rem; margin: 0 0 0 11px; display: inline-block;}
.director-lt .position {display: block; line-height: normal; text-transform: uppercase; font-family: "sweet-sans-pro", sans-serif;
font-weight: 900; font-size:1rem; color:var(--clc-border); letter-spacing: 1px; margin-bottom: 35px;}
.director-lt h3 {padding-top: 48px;}
.director-lt h4 {padding-top: 40px;}
.director-lt h5 {padding-top: 38px; letter-spacing: 1px;}
.director-lt ul, .director-lt ol {padding: 3px 0 0 0; margin-bottom: 17px;}

.director-lt .director-info {width: 100%; margin: 0 0 41px 0;}
.director-lt .director-row {padding: 0 0 0 26px; position: relative; width:253px; margin: 0 0 13px 0;}
.director-lt .director-row .dicon {color: var(--crimson-glory); font-size: 1rem; position: absolute; width: 18px; text-align: center; left: 0;}
.director-lt .director-row .dtxt {line-height: normal; text-transform: uppercase; font-family: "sweet-sans-pro", sans-serif;
font-weight: 900; font-size:0.875rem; letter-spacing: 1.4px;}
.director-lt .director-row .dtxt a {color: var(--clc-text-18);}
.director-lt .director-row .dtxt a:hover {color: var(--crimson-glory);}

.btn-wrap {margin: 0 0 6px 0;}
.btn-wrap .button {min-width: 224px;}

.director-rt {width: 32.813%;}
.director-quote {background: var(--clc-dark-txt); padding: 48px 48px 49px 48px; position: relative;}
.director-quote:before {content: ""; background: url("../images/quote-icon.svg") 0 0 no-repeat; display: block; width: 63px;
height: 45px; position: absolute; top: -30px;}
.director-quote p {color: var(--white); font-family: "sweet-sans-pro", sans-serif; font-size: 1.75rem; line-height: 1.14; font-weight: 900;}
.customizable-cta {padding-bottom: 46px;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px) {

}
@media only screen and (max-width: 1299px) and (min-width: 1024px) {
	.director-lt {padding: 65px 50px 104px 0;}
	.director-quote {padding: 38px 38px 39px 38px;}
	.director-quote p {font-size: 1.5rem;}

}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
	.director-container {padding: 20px 0 70px;}
	.director-quote {padding: 38px 38px 39px 38px; margin: 46px 0 0 0;}
	.director-quote p {font-size: 1.5rem;}
	.director-thumb {height: 500px;}
	.director-lt {padding: 65px 0 104px 0;}

}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
	.director-lt {width: 100%; overflow: inherit;}
	.director-lt::after {transform-origin:0; transform:inherit; width: 1000%; right: inherit; left: -40px; height: 100%;}
	.director-main::before {display: none;}
	.director-thumb {margin: 0 auto -24px;}	
}


@media only screen and (max-width: 767px) and (min-width: 200px) {
	.director-container {padding: 20px 0 48px;}
	.director-thumb {height: 335px;}
	.director-lt {padding: 63px 0 104px 0;}
	.director-lt h1 {font-size: 2.5rem; margin: 0 0 14px 0}
	.director-lt h1 span {display: block; margin:13px 0 0 0;}
	.director-lt .director-row {width: 100%; margin: 0 0 16px 0;}
	.director-lt .director-row:nth-child(2) {order: 3;}
	.director-lt .director-row:nth-child(3) {order: 2;}
	.director-lt .director-row:nth-child(4) {order: 4;}
	.director-lt .director-info {margin: 0 0 39px 0;}	
	.director-lt .position {margin-bottom: 45px;}
	.director-lt ul, .director-lt ol {padding: 4px 0 0 0;}
	
	.director-quote {padding: 32px 24px 24px 24px; margin:58px 0 16px;}
	.director-quote p {font-size: 1.25rem; line-height: 1.2;}
}